<%- include('includes/head', {pageTitle: 'An Error occured'}) %> 
<!-- Css dosyasını çağırıyoruz -->
</head>
<body>
    <%- include('includes/header') %> 

    <main>
        <h1>Something went wrong!</h1>
        <p>Unfotunately, something went wrong - plase try again</p>
        <p>
            <a href="/" class="btn">
                Back to safety!
            </a>
        </p>
      
        
    </main>

  

<%- include('includes/footer') %> 