body {
    font-family: 'David Libre', serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-logo a {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000;
    color: rgb(207, 207, 70);
    font-size: 50px;
    font-family: 'Charm', cursive;
}