h1 {
  font-family: "Oswald", sans-serif;
  color: rgb(85, 1, 133);
  font-size: 45px;
}

p {
  font-family: "Fira Sans", sans-serif;
  color: rgb(85, 1, 133);
}

ol {
  list-style: none;
}

a {
  background-color: rgb(180, 179, 80);
  border-radius: 4px;
  font-size: 24px;
  padding: 4px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: rgb(243, 1, 185);
}

li {
  background-color: rgb(185, 180, 225);
  margin: 12px;
}