<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>Page not found!</h1>
      <p>
        Eatwell is a website for food enthusiasts that allows you to share and
        discover amazing restaurants from all over the world!
      </p>
    </main>
  </body>
</html>