<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>
        Unfortunatly - serverda bir şeyler ters gitti - çözümü için uğraşıyoruz.
      </p>
    </main>
  </body>
</html>